.header .navbar .navbar-nav .contact{
    color:rgb(235, 184, 184) !important;
}
.hero-box-s .fa-facebook,.fa-instagram,.fa-whatsapp {
    font-size: 2.5rem; 
    margin: 0 0.5rem; 
    color:white; 
    text-decoration: none;
}
.hero-box-s .fa-facebook:hover,.fa-instagram:hover,.fa-whatsapp:hover{
    color:rgb(235, 184, 184) ;

}

.hero-box-s i:hover {
    color: #007bff; 
}
.hero-box-s a {
    text-decoration: none; 
    outline: none; 
}

.hero-box-s a:focus {
    outline: none; 
}
.dropdown-menu a:focus, .dropdown-menu a:active {
    outline: none;
    color: rgb(235, 184, 184); 
    background-color: transparent; 
    box-shadow: none; 
}
